- meta_tag(:incidents_path, incidents_path(format: :json))
-# .info-window.template
-#   .incident.window
-#     = succeed ": " do
-#       %span.formatted_address
-#     %span.occurred_at
-#     .description
#map-canvas
#debug-info
  Testing...
