// Place all the styles related to the incidents controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#map-canvas
  margin: 0
  padding: 0
  height: 100%
.info-window.template
  display: none
.incident.window
  dl
    max-height: 20em
    overflow: scroll
    dt:not(:first-child)
      margin-top: 1em
  .formatted_address
    font-weight: bold
  .occurred_at
    font-size: smaller
    a
      color: blue
      font-style: none
      &:hover
        font-style: italic
#debug-info
  position: fixed
  bottom: 1em
  left: 1em
  border-radius: 1em
  background: transparentize(black, 0.5)
  padding: 1em
  color: white
